<!DOCTYPE html>
<html>
<head>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src= "bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="postApp" ng-controller="postController">
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header"><h1>Post data using angularJS</h1></div>
        <!-- FORM -->
        <form name="userForm">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" ng-model="user.username">
                <span ng-show="errorUserName">{{errorUserName}}</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="user.password">
                <span ng-show="errorPassword">{{errorPassword}}</span>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button>
            <button type="button" class="btn btn-primary" ng-click="verify()">Verify</button> {{message}}
        </form>
    </div>
</div>
<script>
    var postApp = angular.module('postApp', ['ngCookies']);
    postApp.controller('postController', function ($scope, $http, $cookies) {
        $scope.user = {};
        $scope.submitForm = function () {
            $http({
                method: 'POST',
                url: 'http://localhost:8089/login',
                data: $scope.user,
                headers: {'Content-Type': 'application/json'}
            })
                    .then(function successCallback(response) {
                        // this callback will be called asynchronously
                        // when the response is available
                        $scope.message = response.body;
                        $cookies.put('token', response.data.token);
                    }, function errorCallback(response) {
                        $scope.message = response.body;
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                    });
        }

        $scope.verify = function() {
            $http({
                method: 'POST',
                url: 'http://localhost:8089/checkAuthentication',
                data: $cookies.get('token'),
                headers: {'Content-Type': 'application/json'}
            })
                    .then(function successCallback(response) {
                        $scope.message = response.data;
                    }, function errorCallback(response) {

                    });
        }
    })
</script>
</body>
</html>