<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="D:\XAMPP\htdocs\interestnews\front-end\src\main\resources\static\bower_components\jquery\dist\jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="D:\XAMPP\htdocs\interestnews\front-end\target\classes\static\bower_components\bootstrap\dist\css\bootstrap.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="D:\XAMPP\htdocs\interestnews\front-end\src\main\resources\static\bower_components\angular\angular.js"></script>
</head>
<body>
<h1>Sample Application</h1>

<div ng-app = "">
    <p>Enter your Name: <input type = "text" ng-model = "name"></p>
    <p>Hello <span ng-bind = "name"></span>!</p>
</div>


</body>
</html>